{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Shopping Cart
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Book</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                        <tr>
                            <td><a href="{% url 'book_detail' item.book.slug %}">{{ item.book.title }}</a> by {{ item.book.author }}</td>
                        
                       <td>€ {{ item.book.price }}</td>
                       <!-- Remove book -->
                       <td><a href="{% url 'remove_from_cart' item.book.id %}">Remove</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Total: </td>
                        <td><h6>€ {{ total|floatformat:2 }}</h6></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'books_list' %}" class="btn btn-outline-dark btn-lg">More books</a></td>
                        <td>
                            <a href="{% url 'checkout' %}" class="btn btn-outline-dark btn-lg">Checkout</a>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb">Your cart is empty</p>
            <a href="{% url 'books_list' %}" class="btn btn-outline-dark btn-lg">
                <span class="icon"><i class="fas fa-circle-chevron-left"></i> Back to Books</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}