{% extends "base.html" %}
{% load static %}


{% block extra_title %}
Manage Authors
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Manage Authors</h2>
            <h5>Add Author</h5>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            
            <form action="{% url 'add_author' %}" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex gap-2">
                <a href="{% url 'manage_authors' %}" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary" type="submit">Add Author</button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{{ form.media }}
{% endblock %}