{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Edit Author
{% endblock %}

{% block content %}
<div class="container pb-5">
    <!-- Page title -->
    <h1 class="text-center mb-4">Edit Author</h1>

    <!-- Form -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <!-- Form card -->
            <div class="card form-card">
                <div class="card-body p-4">
                    <!-- Form heading -->
                    <h5 class="mb-3">Update Author Details</h5>
                    <hr>

                    <!-- Form -->
                    <form action="{% url 'edit_author' author.id %}" method="POST" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                        <!-- Crispy form -->
                        {{ form|crispy }}

                        <!-- Buttons -->
                        <div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
                            <!-- Cancel button -->
                            <a href="{% url 'manage_authors' %}" class="btn-chapter-one">
                                <i class="fa-solid fa-ban"></i> Cancel
                            </a>

                            <!-- Update button -->
                            <button class="btn-chapter-one btn-green" type="submit">
                                <i class="fa-solid fa-save"></i> Update Author
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media }}
{% endblock %}