{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Home
{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center text-center">

  <h1>Your Chapter<span class="decorative">O</span>ne starts here</h1>

  <!-- Call to action -->
  <div class="my-4">
    <a href="{% url 'books_list' %}" class="btn-chapter-one">Discover new books</a>
  </div>


  <!-- Literary quote -->
  <section class="quote my-4 p-4">
    <h2 class="d-none">Quote</h2>
    <p>“{{ content.quote }}”</p>
    <p><small>— {{ content.quote_author }}</small></p>
  </section>

  <!-- About us -->
  <section class="about-us my-4 d-flex justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <h2>About Us</h2>
        <div class="col-12 col-md-8 col-lg-7 text-start">
          {{ content.about|safe }}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact form -->
  <section class="my-5 container">
    <h2 class="text-center mb-4">Contact Us</h2>
    <!-- Form -->
    <form method="POST" class="contact-form mx-auto col-12 col-md-8 col-lg-7 " style="max-width: 600px;">
      {% csrf_token %}
      {{ form|crispy }}
      <!-- Submit button -->
      <div class="text-center mt-3">
        <button type="submit" class="btn-chapter-one">
          <i class="fa-solid fa-paper-plane"></i> Send
        </button>
      </div>
      <!-- Facebook Invitation -->
      <p class="pt-4 fs-5 text-center">
        Prefer social media?
        <a href="https://www.facebook.com/profile.php?id=61571407364696" target="_blank" class="facebook-link"
          rel="noopener noreferrer" aria-label="Message us on Facebook">
          Find us on <i class="fa-brands fa-square-facebook"></i> Facebook!
        </a>
      </p>
    </form>
  </section>

</div>
{% endblock %}