{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
Checkout
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Order confirmation</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col">
            <p>Order confirmation email has been sent to <strong>{{ order.email }}</strong></p>
            <h3>Order details:</h3>
        </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'books_list' %}" class="btn btn-outline-dark">Back to books</a>
        </div>
    </div>
</div>

{% endblock %}
