.order-history th, 
.order-history td {
  font-size: 1rem;
  text-align: center;
}

.profile-form-input {
  border: 1px solid #171310;
}

@media screen and (min-width: 768px) {
  .order-history th, 
  .order-history td {
      font-size: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  .form-card {
      padding: 2rem;
  }
}