@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables for Fonts and Colors */
:root {

    /* Fonts */
    /* Headers, Navigation links, and Buttons */
    --primary-font: "Space Mono", serif;
    /* Decorative Text */
    --deco-font: "Cinzel Decorative", serif;
    /* Main Body */
    --body-font: "Cormorant Garamond", serif;

    /* Colors */
    --dun: #DED0B7;
    --smoky-black: #171310;
    --white: #ffffff
}

* {
    box-sizing: border-box; 
}

html, body {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
}

main {
    background-color: var(--dun);
    font-family: var(--body-font);
    padding-top: 170px;
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font); 
}

/* Header */
header {
    background-color: var(--white);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--smoky-black);
}

/* Logo */
.navbar-brand {
    margin-right: 20px;
}

/* Hamburger menu icon */
.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0.5rem; 
}

.navbar-toggler-icon {
    color: var(--smoky-black);
}

/* Navigation links */
header li a.nav-link {
    font-family: var(--primary-font);
    font-size: 1.3em;
    color: var(--smoky-black);
    padding: 0.1rem 0.6rem;
    transition: all 0.2s ease;
}

header li a.nav-link:hover {
    background-color: var(--smoky-black);
    color: var(--white);
    border-radius: 0.25rem;
}

.dropdown-menu {
    font-family: var(--primary-font); 
    --bs-dropdown-link-hover-bg: var(--smoky-black);
    --bs-dropdown-link-hover-color: var(--white);
    --bs-dropdown-link-active-color: var(--white);
    --bs-dropdown-link-active-bg: var(--smoky-black);
    --bs-dropdown-border-color: var(--smoky-black);
}

header .navbar-nav li.active .nav-link {
    background-color: var(--smoky-black);
    color: var(--white) !important;
    border-radius: 0.25rem;
}

/* Shopping cart bubble */
.cart-badge {
    background-color: var(--smoky-black);
    color: var(--white);
    font-weight: 800;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 50%;
    line-height: 1;
}

/* Cart icon */
.shopping-cart i {
    font-size: 1.7em;
}

.shopping-cart i:hover {
    color: rgba(23,19,16, 0.7);
}

/* Search bar */
.search-bar {
    font-family: var(--primary-font);
}

.search-bar input.form-control {
    border: 1px solid var(--smoky-black);
}

/* Letter decorations */
span.decorative {
    font-family: var(--deco-font);
    font-weight: 400;
    font-size: 110%;
}

.quote p::first-letter {
    font-family: var(--deco-font);
    font-size: 110%;
}

/* Buttons */
.btn-chapter-one {
    font-family: var(--primary-font);
    font-size: 1.1em;
    color: var(--smoky-black);
    background-color: var(--white);
    border: 1px solid var(--smoky-black);
    padding: 0.3rem 0.8rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.btn-chapter-one:hover {
    color: var(--white);
    background-color: var(--smoky-black);

}

.btn-small {
    
    font-size: 0.85rem;
    padding: 0.25rem 0.6rem;
    line-height: 1.2;
}

.btn-red {
    background: #e8174fc1;
}

.btn-green {
    background: #60a34d9a;
}

/* Tables */
.table-responsive {
    border: 1px solid var(--smoky-black);
    border-radius: 8px;
    overflow: hidden;
    overflow-x: auto;
}

.table-hover tbody tr:hover {
    background-color: rgba(23, 19, 16, 0.05);
}

.table th, .table td {
    vertical-align: middle;
    word-wrap: break-word;
    white-space: normal;
}

.table td:last-child {
    min-width: 120px;
    white-space: nowrap;
}

.table-dark th {
    font-family: var(--primary-font);
    font-size: 1.1rem;
    font-weight: 700;
}

/* Forms */
.form-card {
    border: 1px solid var(--smoky-black);
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

/* Toasts */
.toast-container {
    z-index: 9999999;
    top: 120px;
}

.toast {
    border: var(--smoky-black) solid 1px;
}

/* Home page */
.quote {
    background-color: var(--white);
    border: 3px double var(--smoky-black);
    border-radius: 8px;
    font-size: 1.5em;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.about-us {
    font-size: 1.4em;
}

/* Authors */
.author-photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--smoky-black);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.author-name {
    font-size: 1.5rem;
    color: var(--smoky-black);
    font-weight: 700;
    text-transform: uppercase;
}

.author-bio * {
    font-size: 1.4rem;
    text-align: justify;
}

.author-birth-details {
    font-size: 1.2rem;
    font-style: italic;
}

/* Form: TinyMCE Rich Text Editor */
.tox.tox-tinymce {
    border: var(--smoky-black) 1px solid;
    border-radius: 8px;
}

/* Allauth forms */
.allauth-form-inner-content input {
    border: #171310 1px solid;
}

.form-fields {
    border: var(--smoky-black) 1px solid;
}

/* Footer */
footer {
    border-top: 1px solid var(--smoky-black);
    padding: 10px 0;
}

.footer-container a {
    color: var(--smoky-black);
    transition: color 0.3s;
    text-decoration: none;
}

.footer-text {
    font-size: 1.2em;
}

.privacy-link:hover {
    color: #1877F2;
    text-decoration: underline;
}

.social-links a {
    font-size: 2em;
}

.facebook:hover {
    color: #1877F2;
}

.instagram:hover {
    color: #cd486b;
}

.twitter:hover {
    color: rgba(23,19,16, 0.7);
}

/* Media Queries */

/* Extra small screens */
@media screen and (max-width: 576px) {
    .table-btn-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-chapter-one {
        padding: 0.2rem 0.4rem;
        font-size: 0.9rem;
    }
}

/* Tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 1.5em;
    }

}

/* Laptops and larger (992px and larger) */
@media screen and (min-width: 992px) {
    .navbar-brand {
        font-size: 1.9em;
    }
}

/* Desktops and larger (1200px and larger) */
@media screen and (min-width: 1200px) {
    
}