@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables for Fonts and Colors */
:root {

    /* Fonts */
    /* Headers, Navigation links, and Buttons */
    --links-font: "Space Mono", serif;
    /* Decorative Text */
    --deco-font: "Cinzel Decorative", serif;
    /* Main Body */
    --body-font: "Cormorant Garamond", serif;

    /* Colors */
    --dun: #DED0B7;
    --smoky-black: #171310;
    --white: #ffffff
}

* {
    box-sizing: border-box; 
}

html, body {
    height: 100%; 
}

main {
    background-color: var(--dun);
    font-family: var(--body-font);
    margin-top: 120px;
}

/* Header */

header {
    background-color: var(--white);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--smoky-black);
}

header li a.nav-link {
    font-family: var(--links-font);
    color: var(--smoky-black);
}

header form {
    font-family: var(--links-font);
}

span.decorative {
    font-family: var(--deco-font);
    font-weight: 400;
    font-size: 110%;
}


.quote p::first-letter {
    font-family: var(--deco-font);
    font-size: 110%;
}

/* Toasts */
.toast-container {
    z-index: 9999999;
    top: 120px;
}

.toast {
    border: var(--smoky-black) solid 1px;
}

/* Authors */

.author-photo {
    width: 20vw;
    border-radius: 50%;
}

#cke_id_biography {
    border: var(--smoky-black) 1px solid;
}

/* Allauth forms */

.allauth-form-inner-content input {
    border: #171310 1px solid;
}

.form-fields {
    border: var(--smoky-black) 1px solid;
}

