{% load static %}

<div class="footer-container container">
    <div class="row align-items-center text-center text-md-start">
        <!-- Footer Text  -->
        <div class="col-12 col-md-6 order-1 order-md-1 footer-text">
            <p class="mb-0">
                © 2024 Chapter One |
                <a href="https://www.termsfeed.com/live/7fd03b56-5f20-4f27-af19-383f217c80ba" target="_blank"
                    rel="noopener noreferrer" aria-label="Visit our Privacy Policy page" class="privacy-link"> Privacy
                    Policy</a>
            </p>
        </div>

        <!-- Social media icons -->
        <div class="col-12 col-md-6 mb-md-0 text-center text-md-end order-2 order-md-2 social-links">
            <a href="https://instagram.com" target="_blank" class="me-3 instagram" rel="noopener noreferrer"
                aria-label="Visit our Instagram page">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61571407364696" target="_blank" class="me-3 facebook"
                rel="noopener noreferrer" aria-label="Visit our Facebook page">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://x.com" target="_blank" class="twitter" rel="noopener noreferrer"
                aria-label="Visit our Twitter page">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
        </div>
    </div>
</div>