{% load static %}

<div class="footer-container container">

    <!-- MailChimp form -->
    <div id="mc_embed_shell">
        <div id="mc_embed_signup">
            <form
                action="https://herokuapp.us15.list-manage.com/subscribe/post?u=4564c8fab72ca89ee96d9183a&amp;id=4bf0877262&amp;f_id=00d793e0f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank">
                <div id="mc_embed_signup_scroll">
                    <h2>Subscribe</h2>
                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                            id="mce-EMAIL" required="" value=""></div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text"
                            name="b_4564c8fab72ca89ee96d9183a_4bf0877262" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                            value="Subscribe"></div>
                </div>
            </form>
        </div>
    </div>


    <div class="row align-items-center text-center text-md-start">
        <!-- Footer Text  -->
        <div class="col-12 col-md-6 order-1 order-md-1 footer-text">
            <p class="mb-0">
                © 2024 Chapter One |
                <a href="https://www.termsfeed.com/live/7fd03b56-5f20-4f27-af19-383f217c80ba" target="_blank"
                    rel="noopener noreferrer" aria-label="Visit our Privacy Policy page" class="privacy-link"> Privacy
                    Policy</a>
            </p>
        </div>

        <!-- Social media icons -->
        <div class="col-12 col-md-6 mb-md-0 text-center text-md-end order-2 order-md-2 social-links">
            <a href="https://instagram.com" target="_blank" class="me-3 instagram" rel="noopener noreferrer"
                aria-label="Visit our Instagram page">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61571407364696" target="_blank" class="me-3 facebook"
                rel="noopener noreferrer" aria-label="Visit our Facebook page">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://x.com" target="_blank" class="twitter" rel="noopener noreferrer"
                aria-label="Visit our Twitter page">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
        </div>
    </div>
</div>