{% load static %}

{% with request.resolver_match.url_name as url_name %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="{% url 'home' %}">Chapter<span class="decorative">O</span>ne</a>

        <div class="shopping-cart order-lg-2 d-flex align-items-center" title="Shopping Cart">
            <!-- Shopping cart icon -->
            <a class="nav-link" href="{% url 'view_cart' %}">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <!-- Book count bubble -->
            {% if cart_items %}
            <span class="cart-badge" aria-label="Items in cart">
                {{ cart_items|length }}
            </span>
            {% endif %}
        </div>

        <!-- Toggler button for mobile view -->
        <button class="navbar-toggler order-lg-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse order-lg-1" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item {% if url_name == 'books_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'books_list' %}">Books</a>
                </li>
                <li class="nav-item {% if url_name == 'authors_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'authors_list' %}">Authors</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item {% if url_name == 'my_library' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'my_library' %}">My Library</a>
                </li>
                {% endif %}
                {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item {% if url_name == 'manage_books' %}active{% endif %}"
                                href="{% url 'manage_books' %}">Manage Books</a></li>
                        <li><a class="dropdown-item {% if url_name == 'manage_authors' %}active{% endif %}"
                                href="{% url 'manage_authors' %}">Manage Authors</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item {% if url_name == 'profile' %}active{% endif %}"
                                href="{% url 'profile' %}">My Profile</a></li>
                        <li><a class="dropdown-item {% if url_name == 'account_logout' %}active{% endif %}"
                                href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item {% if url_name == 'account_login' %}active{% endif %}"
                                href="{% url 'account_login' %}">Login</a></li>
                        <li><a class="dropdown-item {% if url_name == 'account_signup' %}active{% endif %}"
                                href="{% url 'account_signup' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endwith %}

<!-- Search form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            <form class="d-flex search-bar" role="search" method="GET" action="{% url 'books_list' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search"
                    {% if search_keyword %}value="{{ search_keyword }}" {% endif %}>
                {% if current_sorting %}
                <input type="hidden" name="sort" value="{{ current_sorting }}">
                {% endif %}
                {% if current_genre %}
                <input type="hidden" name="genre" value="{{ current_genre }}">
                {% endif %}
                <button class="btn-chapter-one" type="submit" aria-label="Search Button">Search</button>
            </form>
        </div>
    </div>
</div>