{% extends "account/base.html" %}
{% load i18n %}

{% block extra_title %}
    {% trans "Email Address" %}
{% endblock %}

{% block inner_content %}
<div class="text-center">

    <h1 class="mb-4">{% trans "Email Address" %}</h1>

    {% if emailaddresses %}
        {% if current_emailaddress %}
            <p class="mb-3">
                {% trans 'The following email address is associated with your account:' %}
                <a href="mailto:{{ current_emailaddress.email }}">{{ current_emailaddress.email }}</a>
            </p>
        {% endif %}

        {% if new_emailaddress %}
            <p class="mb-3">
                {% trans 'Your email address is still pending verification:' %}
                <a href="mailto:{{ new_emailaddress.email }}">{{ new_emailaddress.email }}</a>
            </p>

            <form method="post" action="{% url 'account_email' %}" class="mb-4">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                <button type="submit" name="action_send" class="btn-chapter-one btn-green">
                    {% trans 'Re-send Verification' %}
                </button>
            </form>
        {% endif %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}

    <h2 class="mb-3">{% trans "Change Email Address" %}</h2>
    <form method="post" action="{% url 'account_email' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-flex justify-content-center gap-3 mt-3">
            <button name="action_add" type="submit" class="btn-chapter-one btn-green">
                <i class="fa-solid fa-envelope"></i> {% trans "Change Email" %}
            </button>
        </div>
    </form>
</div>
{% endblock inner_content %}