{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}
    {% trans "Sign In" %}
{% endblock %}

{% block inner_content %}
<div class="text-center">

    <h1 class="mb-4">{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p class="mb-4">
        {% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third-party accounts. Or, 
        <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}
    </p>

    <div class="socialaccount-ballot mb-4">

        <ul class="socialaccount_providers list-unstyled d-flex justify-content-center gap-2">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

 
        <div class="login-or my-3">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}

    <p class="mb-4">
        {% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% endif %}

    <form method="POST" action="{% url 'account_login' %}" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="d-flex justify-content-center gap-3 mt-3">
 
            <a href="{% url 'books_list' %}" class="btn-chapter-one">
                <i class="fa-solid fa-arrow-left"></i> {% trans 'Back' %}
            </a>

            <button type="submit" class="btn-chapter-one btn-green">
                <i class="fa-solid fa-sign-in-alt"></i> {% trans "Sign In" %}
            </button>
        </div>
    </form>

    <p class="mt-4">
        <a class="btn-chapter-one btn-small" href="{% url 'account_reset_password' %}">
            {% trans "Forgot Password?" %}
        </a>
    </p>

</div>
{% endblock inner_content %}