{% extends "account/base.html" %}
{% load i18n %}

{% block extra_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block inner_content %}
<div class="text-center">

    <h1 class="mb-4">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-flex justify-content-center gap-3 mt-3">
            <a href="{% url 'books_list' %}" class="btn-chapter-one btn-small">
                <i class="fa-solid fa-arrow-left"></i> {% trans "Back" %}
            </a>

            <button type="submit" name="action" class="btn-chapter-one btn-small btn-green">
                <i class="fa-solid fa-lock"></i> {% trans "Change Password" %}
            </button>
        </div>
    </form>

    <p class="mt-4">
        <a href="{% url 'account_reset_password' %}" class="btn-chapter-one btn-small">
            {% trans "Forgot Password?" %}
        </a>
    </p>
</div>
{% endblock inner_content %}