{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}
    {% trans "Verify Your Email Address" %}
{% endblock %}

{% block inner_content %}
<div class="text-center">

    <h1 class="mb-4">{% trans "Verify Your Email Address" %}</h1>

    <p class="mb-4">
        {% blocktrans %}
            We have sent an email to you for verification. Follow the link provided to finalize the signup process.  
            If you do not see the verification email in your main inbox, check your spam folder.  
            Please contact us if you do not receive the verification email within a few minutes.
        {% endblocktrans %}
    </p>

    <a href="{% url 'account_login' %}" class="btn-chapter-one btn-small">
        {% trans "Back to Login" %}
    </a>
</div>
{% endblock inner_content %}