{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Manage Books
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Manage Books</h2>
            <h5>Edit Book</h5>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <form action="{% url 'edit_book' book.slug %}" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex gap-2">
                <a href="{% url 'books_list' %}" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary" type="submit">Update Book</button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}

